*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.t-hover:hover{
    color: black;
}

.i-img2:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
}
.i-img2:hover:before{
    background-image: linear-gradient(#ffffff00, black);
}
.i-text{
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    display: none;
}
.i-img:hover .i-text{
    display: block;
}



.slick-next{
    right: 25px !important;
    height: 50px !important;
    width: 50px !important;
    background-color: transparent !important;
    border-radius: 50%;
}
.slick-next:before{
    content: "\ea54" !important;
    font-family: remixicon !important;
}
.move:hover .slick-next{
    background-color: rgba(255, 166, 0, 0.568) !important;
}
.slick-next:hover{
    background-color: orange !important;
}

.slick-prev{
    left: 25px !important;
    height: 50px !important;
    width: 50px !important;
    background-color: transparent !important;
    border-radius: 50%;
    z-index: 1000 !important;
   
}
.slick-prev:before{
    content: "\ea54" !important;
    font-family: remixicon !important;
}
.move:hover .slick-prev{
    background-color: rgba(255, 166, 0, 0.568) !important;
}
.slick-prev:hover{
    background-color: orange !important;
}




.roted{
    animation:roted 1s linear;
    position: relative;
}


.color-red{
    color: #fe816f ;
}



@keyframes roted {
    from{
       left:-500px;
        rotate: -90deg;
    }
    to{
        left:0px;
        rotate:0deg;
    }
    
}


.slip{
    animation:slip 1s ease-out;
    position: relative;
}

@keyframes slip {
    from{
       left:-80px;
    }
    to{
        left:0px;
    }
    
}

@media(min-width:992px){
    .bg-image{
        background-image: url(../img/Vector.png);
        background-size: 85%;
        background-repeat: no-repeat;
        height: 100%;
    }
    .b-none{
        border: none;
    }
}

@media (min-width:991px){
    .height{
     height: 100vh ;
 } 
 }
